{% extends 'header.html' %}
{% block body %}
    <div id='home_image'>
        <img>
    </div>
    
    <div id='about'>
        <h1>About us</h1>
        <p>Description</p>
    </div>
    
    <div id='partners'>
        <img>
        <img>
        <img>
        <img>
    </div>
    
    <div id='overall_statistics'>
        <div id='no_students'>
            <h2>Our students</h2>
            <h1>30</h1>
        </div>
        <div id='faculty'>
            <h2>Our Team</h2>
            <h1>30</h1>
        </div>
        <div id='no_courses'>
            <h2>Courses</h2>
            <h1>30</h1>
        </div>
    </div>
    
    <div id='programs'>
        <div id='first'>
            <img>
            <h1>Program name</h1>
            <p>Description</p>
        </div>>
        <div id='second'>
            <img>
            <h1>Program name</h1>
            <p>Description</p>
        </div>>
        <div id='third'>
            <img>
            <h1>Program name</h1>
            <p>Description</p>
        </div>>
    </div>
    
    <div id='tests'>
        <div id='test1'>
            <img>
            <h1>Test name</h1>
            <p>Description</p>
        </div>>
        <div id='test2'>
            <img>
            <h1>Test name</h1>
            <p>Description</p>
        </div>>
        <div id='test3'>
            <img>
            <h1>Test name</h1>
            <p>Description</p>
        </div>>
    </div>
    
    <div id='reviews'>
        <div id='r1'>
            <img>
            <h1>Reviewer name</h1>
            <p>Description</p>
        </div>>
        <div id='r2'>
            <img>
            <h1>Reviewer name</h1>
            <p>Description</p>
        </div>>
        <div id='r3'>
            <img>
            <h1>Reviewer name</h1>
            <p>Description</p>
        </div>>
    </div>
    
{% endblock %}

