{% load static %}
{% extends 'header.html' %}
{% block body %}
    
    <div id="course_img">
        <img src ='{% static 'images/logo.jpg' %}' alt='Web Designing'>
    </div>
    
    <div id='course_desc'>
        <h1>Overview</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    
    <div id='course_statistics'>
        <div id='no_lec'>
            <h2>No. of Lectures</h2>
            <h1>30</h1>
        </div>
        <div id='num_assign'>
            <h2>No. of Assignments</h2>
            <h1>20</h1>
        </div>
        <div id='stu_ment'>
            <h2>Student mentor ratio.</h2>
            <h1>10:1</h1>
        </div>
    </div>
    
    <div id="instructors">
        <h3>Web Designing</h3>
        
        <h1>About Instructors</h1>
        <div>
            <img>
            <h2>XYZ Singhal</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div>
            <img>
            <h2>XYZ Singhal</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>
    
{% endblock body %}

