<!DOCTYPE html>

<html>
    
    
    <div id="course_img">
        <img alt='Web Designing'>
    </div>
    
    <div id='course_desc'>
        <h1>Overview</h1>
        <p>Description comes here.</p>
    </div>
    
    <div id='course_statistics'>
        <div id='no_lec'>
            <h2>No. of Lectures</h2>
            <h1>30</h1>
        </div>
        <div id='no_codes'>
            <h2>No. of Codes</h2>
            <h1>30</h1>
        </div>
        <div id='stu_ment'>
            <h2>Student mentor ratio.</h2>
            <h1>30</h1>
        </div>
    </div>
    
    <div id="instructors">
        <h3>Course Name</h3>
        
        <h1>About Instructors</h1>
        <div>
            <img>
            <h2>Instructor Name</h2>
            <p>Qualifications</p>
        </div>
        <div>
            <img>
            <h2>Instructor Name</h2>
            <p>Qualifications</p>
        </div>
    </div>
    
</html>

